<a href="https://colab.research.google.com/github/RafsanJany-44/practice_cell/blob/master/19032022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Task1

In [ ]:
class Marks:
  def __init__(self,mark):
    self.mark=mark
  def __add__(self,other):
    return Marks(self.mark+other.mark)

Q1 = Marks(int(input("Quiz 1 (out of 10): ")))
Q2 = Marks(int(input("Quiz 2 (out of 10): ")))
Lab = Marks(int(input("Lab (out of 30): ")))
Mid = Marks(int(input("Mid (out of 20): ")))
Final = Marks(int(input("Final (out of 30): ")))
total = Q1 + Q2 + Lab + Mid + Final
print("Total marks: {}".format(total.mark))

Quiz 1 (out of 10): 10
Quiz 2 (out of 10): 10
Lab (out of 30): 0
Mid (out of 20): 00
Final (out of 30): 010
Total marks: 30

#Task 2

In [ ]:
class Teacher:
  def __init__(self, name,dept):
    self.__name = name
    self.__dept = dept
    self.__courses=[]
  
  def addCourse(self,course):
    self.__courses.append(course)
  def printDetail(self):
    print("=====================================")
    print("Name:",self.__name)
    print("Department:",self.__dept)
    print("List of courses")
    print("=====================================")
    for i in self.__courses:
      print(i.name)
    print("=====================================")

class Course:
  def __init__(self,name):
    self.name=name



t1 = Teacher("Saad Abdullah", "CSE")
t2 = Teacher("Mumit Khan", "CSE")
t3 = Teacher("Sadia Kazi", "CSE")
c1 = Course("CSE 110 Programming Language I")
c2 = Course("CSE 111 Programming Language-II")
c3 = Course("CSE 220 Data Structures")
c4 = Course("CSE 221 Algorithms")
c5 = Course("CCSE 230 Discrete Mathematics")
c6 = Course("CSE 310 Object Oriented Programming")
c7 = Course("CSE 320 Data Communications")
c8 = Course("CSE 340 Computer Architecture")
t1.addCourse(c1)
t1.addCourse(c2)
t2.addCourse(c3)
t2.addCourse(c4)
t2.addCourse(c5)
t3.addCourse(c6)
t3.addCourse(c7)
t3.addCourse(c8)
t1.printDetail()
t2.printDetail()
t3.printDetail()

=====================================
Name: Saad Abdullah
Department: CSE
List of courses
=====================================
CSE 110 Programming Language I
CSE 111 Programming Language-II
=====================================
=====================================
Name: Mumit Khan
Department: CSE
List of courses
=====================================
CSE 220 Data Structures
CSE 221 Algorithms
CCSE 230 Discrete Mathematics
=====================================
=====================================
Name: Sadia Kazi
Department: CSE
List of courses
=====================================
CSE 310 Object Oriented Programming
CSE 320 Data Communications
CSE 340 Computer Architecture
=====================================

#TASK 3

In [ ]:
class Team:
  def __init__(self,*args):
    self.__pname=[]
    self.__prname=[]
    if len(args)==1:
      self.__cname=args[0]
    else:
      self.__cname=''


  def setName(self,name):
    self.__cname=name
  
  def addPlayer(self,player):
    self.__pname.append(player)
  
  def printDetail(self):
    for i in self.__pname:
      self.__prname.append(i.name)
    print("=====================")
    print("Team:",self.__cname)
    print("List of Players:")
    print(self.__prname)
    print("=====================")

class Player:
  def __init__(self,name):
    self.name=name


b = Team()
b.setName('Bangladesh')
mashrafi = Player("Mashrafi")
b.addPlayer(mashrafi)
tamim = Player("Tamim")
b.addPlayer(tamim)
b.printDetail()
a = Team("Australia")
ponting = Player("Ponting")
a.addPlayer(ponting)
lee = Player("Lee")
a.addPlayer(lee)
a.printDetail()

=====================
Team: Bangladesh
List of Players:
['Mashrafi', 'Tamim']
=====================
=====================
Team: Australia
List of Players:
['Ponting', 'Lee']
=====================

#Task 4

In [ ]:
class Color:
  def __init__(self,clr):
    li=["red","blue","yellow"]
    if clr in li:
      self.clr=clr
    else:
      if clr=="redblue" or clr=="bluered":
        self.clr="Violet"
      elif clr=="yellowblue" or clr=="blueyellow":
        self.clr="Green"
      elif clr=="redyellow" or clr=="yellowred":
        self.clr="Orange"
  def __add__(self,other):
    return Color(self.clr+other.clr)
  

C1 = Color(input("First Color: ").lower())
C2 = Color(input("Second Color: ").lower())
C3 = C1 + C2
print("Color formed:", C3.clr)

First Color: red
Second Color: blue
Color formed: Violet

#Task5

In [ ]:
class Circle:
  def __init__(self,radius):
    self.__radius=radius
  
  def setRadius(self,radius):
    self.__radius=radius
  
  def getRadius(self):
    return self.__radius

  def area(self):
    return self.__radius*self.__radius*3.1416

  def __add__(self,o):
    return Circle(self.__radius+o._Circle__radius)

c1 = Circle(4)
print("First circle radius:" , c1.getRadius())
print("First circle area:" ,c1.area())
c2 = Circle(5)
print("Second circle radius:" ,c2.getRadius())
print("Second circle area:" ,c2.area())
c3 = c1 + c2
print("Third circle radius:" ,c3.getRadius())
print("Third circle area:" ,c3.area())

First circle radius: 4
First circle area: 50.2656
Second circle radius: 5
Second circle area: 78.53999999999999
Third circle radius: 9
Third circle area: 254.46959999999999

#Task 6

In [ ]:
class Triangle:
  def __init__(self,base,height):
    self.__base=base
    self.__height=height

  def setBase(self,base):
    self.__base=base
  
  def getBase(self):
    return self.__base

  def setHeight(self,height):
    self.__height=height

  def getHeight(self):
    return self.__height

  def area(self):
    return 0.5*self.__base*self.__height

  def __sub__(self,o):
    return Triangle(self.__base-o._Triangle__base,self.__height-o._Triangle__height)

t1 = Triangle(10, 5)
print("First Triangle Base:" , t1.getBase())
print("First Triangle Height:" , t1.getHeight())
print("First Triangle area:" ,t1.area())
t2 = Triangle(5, 3)
print("Second Triangle Base:" , t2.getBase())
print("Second Triangle Height:" , t2.getHeight())
print("Second Triangle area:" ,t2.area())
t3 = t1 - t2
print("Third Triangle Base:" , t3.getBase())
print("Third Triangle Height:" , t3.getHeight())
print("Third Triangle area:" ,t3.area())

First Triangle Base: 10
First Triangle Height: 5
First Triangle area: 25.0
Second Triangle Base: 5
Second Triangle Height: 3
Second Triangle area: 7.5
Third Triangle Base: 5
Third Triangle Height: 2
Third Triangle area: 5.0

#Task 7

In [ ]:
class Dolls:
  def __init__(self,name,price):
    self.__price=price
    self.__name=name

  def setPrice(self,price):
    self.__price=price
  def getPrice(self):
    return self.__price
  def setName(self,name):
    self.__name=name
  def getName(self):
    return self.__name
  
  def __gt__(self,o):
    if self.__price>o._Dolls__price:
      return True
    else:
      return False
  
  def __add__(self,o):
    return Dolls(self.__name+o._Dolls__name,self.__price+o._Dolls__price)
  
  def detail(self):
    return "Doll:"+self.__name+"\n"+"Price:"+str(self.__price)


obj_1 = Dolls("Tweety", 2500)
print(obj_1.detail())
if obj_1 > obj_1:
 print("Congratulations! You get the Tweety as a gift!")
else:
 print("Thank you!")
print("=========================")
obj_2 = Dolls("Daffy Duck", 1800)
print(obj_2.detail())
if obj_2 > obj_1:
 print("Congratulations! You get the Tweety as a gift!")
else:
 print("Thank you!")
print("=========================")
obj_3 = Dolls("Bugs Bunny", 3000)
print(obj_3.detail())
if obj_3 > obj_1:
 print("Congratulations! You get the Tweety as a gift!")
else:
 print("Thank you!")
print("=========================")
obj_4 = Dolls("Porky Pig", 1500)
print(obj_4.detail())
if obj_4 > obj_1:
 print("Congratulations! You get the Tweety as a gift!")
else:
 print("Thank you!")
print("=========================")
obj_5 = obj_2 + obj_3
print(obj_5.detail())
if obj_5 > obj_1:
 print("Congratulations! You get the Tweety as a gift!")
else:
 print("Thank you!")

Doll:Tweety
Price:2500
Thank you!
=========================
Doll:Daffy Duck
Price:1800
Thank you!
=========================
Doll:Bugs Bunny
Price:3000
Congratulations! You get the Tweety as a gift!
=========================
Doll:Porky Pig
Price:1500
Thank you!
=========================
Doll:Daffy DuckBugs Bunny
Price:4800
Congratulations! You get the Tweety as a gift!

#Task 8

In [14]:
class Coordinates:
  def __init__(self,x,y):
    self.__x=x
    self.__y=y

  def __sub__(self,o):
    self.__subOb=Coordinates(self.__x-o._Coordinates__x,self.__y-o._Coordinates__y)
    return self.__subOb
    
  def __mul__(self,o):
    self.__mulOb=Coordinates(self.__x*o._Coordinates__x,self.__y*o._Coordinates__y)
    return self.__mulOb

  def __eq__(self,o):
    if self.__x==o._Coordinates__x and self.__y==o._Coordinates__y:
      return ("The calculated coordinates are the same.")
    else:
      return ("The calculated coordinates are NOT the same.")
  
    
  
  def detail(self):
    return "("+str(self.__x)+","+str(self.__y)+")"

p1 = Coordinates(int(input()),int(input()))
p2 = Coordinates(int(input()),int(input()))
p4 = p1 - p2
print(p4.detail())
p5 = p1 * p2
print(p5.detail())


point_check = (p4 == p5)
print(point_check)

1
2
3
4
(-2,-2)
(3,8)
The calculated coordinates are NOT the same.

#Task 9

In [23]:
class Test:
  def __init__(self):
    self.sum = 0
    self.y = 0
  def methodA(self):
    x=0
    y =0
    y = y + 7
    x = y + 11
    self.sum = x + y
    print(x , y, self.sum)
  def methodB(self):
    x = 0
    self.y = self.y + 11
    x = x + 33 + self.y
    self.sum = self.sum + x + self.y
    print(x , self.y, self.sum)
print("x y SUM")
t1 = Test()
t1.methodA()
t1.methodA()
t1.methodB()
t1.methodB()
t1.methodB()

x y SUM
18 7 25
18 7 25
44 11 80
55 22 157
66 33 256

#Task 10

In [24]:
class Test3:
  def __init__(self):
    self.sum, self.y = 0, 0
  def methodA(self):
    x, y = 2, 3
    msg = [0]
    msg[0] = 3
    y = self.y + msg[0]
    self.methodB(msg, msg[0])
    x = self.y + msg[0]
    self.sum = x + y + msg[0]
    print(x, y, self.sum)
  def methodB(self, mg2: list, mg1: int):
    x = 0
    self.y = self.y + mg2[0]
    x = x + 33 + mg1
    self.sum = self.sum + x + self.y
    mg2[0] = self.y + mg1
    mg1 = mg1 + x + 2
    print(x, self.y, self.sum)

print("x y SUM")
t3 = Test3()
t3.methodA()
t3.methodA()
t3.methodA()
t3.methodA()
t3.methodA()

x y SUM
36 3 39
9 3 18
36 6 60
15 6 30
36 9 75
21 9 42
36 12 90
27 12 54
36 15 105
33 15 66

#11

In [25]:
class Test4:
  def __init__(self):
    self.sum, self.y = 0, 0
  def methodA(self):
    x, y = 0, 0
    msg = [0]
    msg[0] = 5
    y = y + self.methodB(msg[0])
    x = y + self.methodB(msg, msg[0])
    self.sum = x + y + msg[0]
    print(x, y, self.sum)

  def methodB(self, *args):
    if len(args) == 1:
      mg1 = args[0]
      x = 0
      y = 0
      y = y + mg1
      x = x + 33 + mg1
      self.sum = self.sum + x + y
      self.y = mg1 + x + 2
      print(x, y, self.sum)
      return y
    else:
      mg2, mg1 = args
      x = 0
      self.y = self.y + mg2[0]
      x = x + 33 + mg1
      self.sum = self.sum + x + self.y
      mg2[0] = self.y + mg1
      mg1 = mg1 + x + 2
      print(x, self.y, self.sum)
      return self.sum
print("x y SUM")
t3 = Test3()
t3.methodA()
t3.methodA()
t3.methodA()
t3.methodA()
t3.methodA()

x y SUM
36 3 39
9 3 18
36 6 60
15 6 30
36 9 75
21 9 42
36 12 90
27 12 54
36 15 105
33 15 66