<a href="https://colab.research.google.com/github/RafsanJany-44/practice_cell/blob/master/Bracu_assignment_28022022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1

In [9]:
class DataType():
  name=''
  value=''
  def __init__(self, n, v):
        self.name = n
        self.value = v

  def name():
    return name
  def value():
    return value


data_type1 = DataType("Integer", 1234)
print(data_type1.name)
print(data_type1.value)
print('=====================')
data_type2 = DataType("String", "Hello")
print(data_type2.name)
print(data_type2.value)
print('=====================')
data_type3 = DataType("Float", 4.0)
print(data_type3.name)
print(data_type3.value)

Integer
1234
=====================
String
Hello
=====================
Float
4.0

#2

In [14]:
class Flower():

  def __init__(self):
    self.name=""
    self.color=""
    self.num_of_peal=0

    



flower1 = Flower()
flower1.name="Rose"
flower1.color="Red"
flower1.num_of_petal=6
print("Name of this flower:", flower1.name)
print("Color of this flower:",flower1.color)
print("Number of petal:",flower1.num_of_petal)
print("=====================")
flower2 = Flower()
flower2.name="Orchid"
flower2.color="Purple"
flower2.num_of_petal=4
print("Name of this flower:",flower2.name)
print("Color of this flower:",flower2.color)
print ("Number of petal:",flower2. num_of_petal)

print("Address of flower1: ",id(flower1))
print("Address of flower2: ",id(flower2))


if id(flower1)==id(flower2):
  print("they are same")
else:
  print("they are different")

Name of this flower: Rose
Color of this flower: Red
Number of petal: 6
=====================
Name of this flower: Orchid
Color of this flower: Purple
Number of petal: 4
Address of flower1:  139658014830096
Address of flower2:  139658014831760
they are different

#3

In [28]:
class Wadiya():
 def __init__(self):
   self.name = 'Aladeen'
   self.designation = 'President Prime Minister Admiral General'
   self.num_of_wife = 100
   self.dictator = True


wadiya=Wadiya()

print("Part 1")
print("Name of President:",wadiya.name)
print("Designation:",wadiya.designation)
print("Number of wife:",wadiya.num_of_wife)
print("Is he/she a dictator:",wadiya.dictator)

print("Part 2")

wadiya.name="Donald Trump"
wadiya.designation="President"
wadiya.num_of_wife=1
wadiya.dictator=False
print("Name of President:",wadiya2.name)
print("Designation:",wadiya2.designation)
print("Number of wife:",wadiya2.num_of_wife)
print("Is he/she a dictator:",wadiya2.dictator)
print("No, changing had no effect on previous value")

Part 1
Name of President: Aladeen
Designation: President Prime Minister Admiral General
Number of wife: 100
Is he/she a dictator: True
Part 2
Name of President: Donald Trump
Designation: President
Number of wife: 1
Is he/she a dictator: True
No, changing had no effect on previous value

#4

In [30]:

class Joker():

    def __init__(self, n, pow,psy):
        self.name = n
        self.power = pow
        self.is_he_psycho=psy





j1 = Joker('Heath Ledger', 'Mind Game', False)
print(j1.name)
print(j1.power)
print(j1.is_he_psycho)
print("=====================")
j2 = Joker('Joaquin Phoenix', 'Laughing out Loud', True)
print(j2.name)
print(j2.power)
print(j2.is_he_psycho)
print("=====================")
if j1 == j2:
    print('same')
else:
    print('different')
j2.name = 'Heath Ledger'
if j1.name == j2.name:
    print('same')
else:
    print('different')


print("The elements in those objects are not equal.Thats why the output is different")
print("The value of name of both objects are same. Thats why the output is same.")

Heath Ledger
Mind Game
False
=====================
Joaquin Phoenix
Laughing out Loud
True
=====================
different
same
The elements in those objects are not equal.Thats why the output is different
The value of name of both objects are same. Thats why the output is same.

#5

In [38]:
class Pokemon():
    def __init__(self, n1,n2, pow1,pow2,d):
      self.pokemon1_name = n1
      self.pokemon2_name = n2
      self.pokemon1_power = pow1
      self.pokemon2_power=pow2
      self.damage_rate=d



team_pika = Pokemon('pikachu', 'charmander', 90, 60, 10)
print('=======Team 1=======')
print('Pokemon 1:',team_pika.pokemon1_name,
team_pika.pokemon1_power)
print('Pokemon 2:',team_pika.pokemon2_name,
team_pika.pokemon2_power)
pika_combined_power = (team_pika.pokemon1_power +
team_pika.pokemon2_power) * team_pika.damage_rate
print('Combined Power:', pika_combined_power)


team_pika2 = Pokemon('bulbasaur', 'squirtle', 80, 70, 9)
print('=======Team 2=======')
print('Pokemon 1:',team_pika2.pokemon1_name,
team_pika2.pokemon1_power)
print('Pokemon 2:',team_pika2.pokemon2_name,
team_pika2.pokemon2_power)
pika_combined_power = (team_pika2.pokemon1_power +
team_pika2.pokemon2_power) * team_pika2.damage_rate
print('Combined Power:', pika_combined_power)

=======Team 1=======
Pokemon 1: pikachu 90
Pokemon 2: charmander 60
Combined Power: 1500
=======Team 2=======
Pokemon 1: bulbasaur 80
Pokemon 2: squirtle 70
Combined Power: 1350

#6

In [42]:
class Player():

  def __init__(self):
    self.name=""
    self.postition=""
    self.jersy_number=0



player1 = Player()
player1.name = "Ronaldo"
player1.jersy_number = 9
player1.position = "Striker"
print("Name of the Player:", player1.name)
print("Jersey Number of player:", player1.jersy_number)
print("Position of player:", player1.position)
print('===========================')
player2 = Player()
player2.name = "Neuer"
player2.jersy_number = 1
player2.position = "Goal Keeper"
print("Name of the player:", player2.name)
print("Jersey Number of player:", player2.jersy_number)
print("Position of player:", player2.position)

Name of the Player: Ronaldo
Jersey Number of player: 9
Position of player: Striker
===========================
Name of the player: Neuer
Jersey Number of player: 1
Position of player: Goal Keeper

#7

In [45]:
class Country():

  def __init__(self):
    self.name="Bangladesh"
    self.continent="Asia"
    self.capital="Dhaka"
    self.fifa_ranking=187




country = Country()
print('Name:',country.name)
print('Continent:',country.continent)
print('Capital:',country.capital)
print('Fifa Ranking:',country.fifa_ranking)
print('===================')
country.name = "Belgium"
country.continent = "Europe"
country.capital = "Brussels"
country.fifa_ranking = 1
print('Name:',country.name)
print('Continent:',country.continent)
print('Capital:',country.capital)
print('Fifa Ranking:',country.fifa_ranking)

Name: Bangladesh
Continent: Asia
Capital: Dhaka
Fifa Ranking: 187
===================
Name: Belgium
Continent: Europe
Capital: Brussels
Fifa Ranking: 1

#8

In [47]:
class DemonSlayer:


  def __init__(self,n,s,t,k):
    self.name=n
    self.style=s
    self.number_of_technique=t
    self.kill=k



tanjiro = DemonSlayer("Tanjiro", "Water Breathing", 10, 10)
print('Name:',tanjiro.name)
print('Fighting Style:',tanjiro.style)
print(f'Knows {tanjiro.number_of_technique} technique(s) and has killed {tanjiro.kill} demon(s)')
print('===================')
zenitsu = DemonSlayer("Zenitsu", "Thunder Breathing", 1, 4)
print('Name:',zenitsu.name)
print('Fighting Style:',zenitsu.style)
print(f'Knows {zenitsu.number_of_technique} technique(s) and has killed {zenitsu.kill} demon(s)')
print('===================')
inosuke = DemonSlayer("Inosuke", "Beast Breathing", 5, 7)
print('Name:',inosuke.name)
print('Fighting Style:',inosuke.style)
print(f'Knows {inosuke.number_of_technique} technique(s) and has killed {inosuke.kill} demon(s)')
print('===================')
print(f'{tanjiro.name}, {zenitsu.name}, {inosuke.name} knows total {tanjiro.number_of_technique + zenitsu.number_of_technique+ inosuke.number_of_technique} techniques')
print(f'They have killed total {tanjiro.kill + zenitsu.kill +inosuke.kill} demons')

Name: Tanjiro
Fighting Style: Water Breathing
Knows 10 technique(s) and has killed 10 demon(s)
===================
Name: Zenitsu
Fighting Style: Thunder Breathing
Knows 1 technique(s) and has killed 4 demon(s)
===================
Name: Inosuke
Fighting Style: Beast Breathing
Knows 5 technique(s) and has killed 7 demon(s)
===================
Tanjiro, Zenitsu, Inosuke knows total 16 techniques
They have killed total 21 demons

#9

In [48]:
class box():

  def __init__(self,t):
    self.height=t[0]
    self.width=t[1]
    self.breadth=t[2]


print("Box 1")
b1 = box([10,10,10])
print("=========================")
print("Height:", b1.height)
print("Width:", b1.width)
print("Breadth:", b1.breadth)
print("-------------------------")
print("Box 2")
b2 = box((30,10,10))
print("=========================")
print("Height:", b2.height)
print("Width:", b2.width)
print("Breadth:", b2.breadth)
b2.height = 300
print("Updating Box 2!")
print("Height:", b2.height)
print("Width:", b2.width)
print("Breadth:", b2.breadth)
print("-------------------------")
print("Box 3")
b3 = b2
print("Height:", b3.height)
print("Width:", b3.width)
print("Breadth:", b3.breadth)

Box 1
=========================
Height: 10
Width: 10
Breadth: 10
-------------------------
Box 2
=========================
Height: 30
Width: 10
Breadth: 10
Updating Box 2!
Height: 300
Width: 10
Breadth: 10
-------------------------
Box 3
Height: 300
Width: 10
Breadth: 10

#10

In [2]:
class buttons():

  def _init_(self,w,s,b):
    self.wo=w
    self.sp=s
    self.bo=b

  def drwa(self):
    num=self.sp*2+2+len(self.wo)
    print(num*self.bo)

    print(self.bo+self.sp*" "+self.wo+self.sp*" "+self.bo)

    print(num*self.bo)




word = "CANCEL" 
spaces = 10
border = 'x'
b1 = buttons(word, spaces, border)
print("Notify Button Specification:")
print("Button name:",b1.wo)
print("Number of the border characters for the top and the bottom:",b1.sp*2+len(b1.wo)+2)
print("Number of spaces between the left side border and the first character of the button name:",b1.sp)
print("Number of spaces between the right side border and the last character of the button name:",b1.sp)
b1.drwa()
print("=======================================================")
b2 = buttons("Notify",3, '!')
print("Notify Button Specification:")
print("Button name:",b2.wo)
print("Number of the border characters for the top and the bottom:",b2.sp*2+len(b2.wo)+2)
print("Number of spaces between the left side border and the first character of the button name:",b2.sp)
print("Number of spaces between the right side border and the last character of the button name:",b2.sp)
b2.drwa()
print("=======================================================")
b3 = buttons('SAVE PROGRESS', 5, '$')
print("Notify Button Specification:")
print("Button name:",b3.wo)
print("Number of the border characters for the top and the bottom:",b3.sp*2+len(b3.wo)+2)
print("Number of spaces between the left side border and the first character of the button name:",b3.sp)
print("Number of spaces between the right side border and the last character of the button name:",b3.sp)
b3.drwa()

TypeError: ignored