<a href="https://colab.research.google.com/github/RafsanJany-44/practice_cell/blob/master/Bracu_Lab_21122021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python function that will take a list of even length as the  
parameter and find the CGPA of a student using that list. In the list, two  
consecutive values denote the grade point of a course and the corresponding  
credit for that particular course. The formula of calculating CGPA for this  
task is given below:

CGPA = summation of (individual course grade point x corresponding credit)  
/ total credits

Finally, return the value in the function call.
[You do not need to take the list as user input. But your program should  
work for any similar format list passed as the parameter.]

Function Call 1:
calc_cgpa([4, 3, 3.7, 3, 4, 4])

Sample Output 1:
3.91

Explanation: In the given list, the even indexed values contain the grade  
points of three courses (4, 3.7 and 4) and the odd indexed values contain  
the corresponding credit for those courses (3, 3 and 4). So, the CGPA of  
that student will be:
[(4 * 3) + (3.7 * 3) + (4 * 4)] / (3 + 3 + 4) = 3.91 which will be returned  
in the function call.
--------------------------------------------------------------
Function Call 2:
calc_cgpa([2.7, 3, 3.3, 3, 3.7, 4, 4, 3])

Sample Output 2:
3.446153846153846

Explanation: CGPA of the student will be:
[(2.7 * 3) + (3.3 * 3) + (3.7 * 4) + (4 * 3)] / (3 + 3 + 4 + 3) =  
3.446153846153846 which will be returned in the function call.
--------------------------------------------------------------
Function Call 3:
calc_cgpa([3, 3, 3.7, 3])

Sample Output 3:
3.35

Explanation: CGPA of the student will be:
[(3 * 3) + (3.7 * 3)] / (3 + 3) = 3.35 which will be returned in the  
function call.

In [14]:

def calc_cgpa(l1): 
  grade=[]
  sub=[]
  for i in range(len(l1)):
    if (i%2==0):
      sub.append(l1[i])
    else:
      grade.append(l1[i])
  total=0

  for i in range(len(sub)):
    total=total+sub[i]*grade[i]
      
  return total/sum(grade)
 

print(calc_cgpa([2.7, 3, 3.3, 3, 3.7, 4, 4, 3]))

3.446153846153846

Write a python function that takes a string as an argument and searches all 
the characters having at least three occurrences (except the spaces and 
special characters) in that string. Then, prepare and RETURN a dictionary 
where the keys will be the characters in uppercase and values will be a 
list of the even positions of those characters in the string.

================================================
Function Call1:
function_name("six sticky skeletons")

Sample Output 1:
{'S': [0, 4]}

Explanation1:
Here, the character ‘s’ has appeared for 4 times in 0, 4, 11 and 19 
indices, so the value will be [0, 4].

================================================
Function Call2:
function_name("near an ear a nearer ear a nearly eerie ear")

Sample Output 2:
{'N': [0, 6, 14], 'A': [2, 12, 16, 22], 'E': [8, 18, 28, 34, 38, 40], 'R': 
[10, 30, 36, 42]}

Explanation2:
Here, the character ‘n’ has appeared for 4 times in 0, 6, 14 and 27 
indices, so the value will be [0, 6, 14]. The character ‘a’ has appeared 
for 9 times in 2, 5, 9, 12, 16, 22, 25, 29 and 41 indices, so the value 
will be [2, 12, 16, 22]. And so on.

In [35]:

 

def fun(st):
  d={}
  count=0
  check=[]
  for i in range(len(st)-1):
    pos=[]
    if st[i] not in check and st[i]!=" ":
      pos.append(i)
      for j in range(1,len(st)):
        if st[i]==st[j]:
          pos.append(j)
      check.append(st[i])
      
      d[st[i]]=pos

  d2={}

  for i in d:
    l2=[]
    for j in d[i]:
      if j%2==0:
        l2.append(j)
    if len(d[i])>=4:
      d2[i.upper()]=l2

  return d2

print(fun("six sticky skeletons"))

{'S': [0, 4]}

Write a python function that takes a string as an argument and searches all 
the characters having at least three occurrences (except the spaces and 
special characters) in that string. Then, prepare and RETURN a dictionary 
where the keys will be the characters and values will be summation of the 
positions of those characters in the string. (You are not allowed to use 
builtin .count() function here)

================================================
Sample Input 1:
function_name("joker poker killer angry spider")

Sample Output 1:
{'k': 22, 'e': 57, 'r': 83}

Explanation1:
Here, the character ‘k’ has appeared 3 times in 2, 8 and 12 indices, so the 
value will be 2+8+12 = 22. The character ‘e’ has appeared 4 times in 3, 9, 
16 and 29 indices, so the value will be 3+9+16+29 = 57. And so on.

================================================
Sample Input 2:
function_name("one two three plant a tree")

Sample Output 2:
{'e': 74, 't': 52}

Explanation2:
Here, the character ‘e’ has appeared 5 times in 2, 11, 12, 24 and 25 
indices, so the value will be 2+11+12+24+25 = 74. The character ‘t’ has 
appeared 4 times in 4, 8, 18 and 22 indices, so the value will be 4+8+18+22 
= 52.

In [57]:
def abc(st):
  d={}
  count=0
  check=[]
  for i in range(len(st)-1):
    pos=[]
    if st[i] not in check and st[i]!=" ":
      for j in range(1,len(st)):
        if st[i]==st[j]:
          pos.append(j)
      check.append(st[i])
      d[st[i]]=pos
  d2={}
  for i in d:
    l2=[]
    if len(d[i])>3:
      sum=0
      for j in d[i]:
          sum=sum+j
      d2[i]=sum

  return d2
print(abc("one two three plant a tree"))

{'e': 74, 't': 52}