<a href="https://colab.research.google.com/github/RafsanJany-44/practice_cell/blob/master/dcitonary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
data1={
    "quiz": {
        "sport": {
            "q1": {
                "question": "Which one is correct team name in NBA?",
                "options": [
                    "New York Bulls",
                    "Los Angeles Kings",
                    "Golden State Warriros",
                    "Huston Rocket"
                ],
                "answer": "Huston Rocket"
            }
        },
        "maths": {
            "q1": {
                "question": "5 + 7 = ?",
                "options": [
                    "10",
                    "11",
                    "12",
                    "13"
                ],
                "answer": "12"
            },
            "q2": {
                "question": "12 - 8 = ?",
                "options": [
                    "1",
                    "2",
                    "3",
                    "4"
                ],
                "answer": "4"
            }
        }
    }
}

print

#Working

In [40]:
import time

data = {}
data['people'] = []
data['people'].append({
    'name': 'Scott',
    'website': 'stackabuse.com',
    'from': 'Nebraska'
})
data['people'].append({
    'name': 'Larry',
    'website': 'google.com',
    'from': 'Michigan'
})
data['people'].append({
    'name': 'Tim',
    'website': 'apple.com',
    'from': 'Alabama'
})




start=time.time()








def key_search(dict,value):
  list_of_keys = list(dict.keys())
  list_of_value = list(dict.values())
  position = list_of_value.index(value)
  return list_of_keys[position]



def value_sort(dict,type=False):
  d={}
  values=sorted(dict.values(),reverse=type)
  for i in values:
    d[key_search(dict,i)]=i
  return d


def key_sort(dict,type=False):
  d={}
  keys=sorted(dict.keys(),reverse=type)
  for i in keys:
    d[i]=dict[i]
  return d



def to_json(dict,file_name_or_path):
  import json
  with open(file_name_or_path, 'w') as outfile:
    json.dump(dict, outfile)


def from_json(file_name_or_path):
  import json
  with open(file_name_or_path) as infile:
    return json.load(infile)






end=time.time()

to_json(data1,"new2.json")

#print(from_json("new.json"))


print("______________________________time: ",end-start)

______________________________time:  0.00022077560424804688

In [42]:
print(from_json("new2.json"))

{'quiz': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?', 'options': ['New York Bulls', 'Los Angeles Kings', 'Golden State Warriros', 'Huston Rocket'], 'answer': 'Huston Rocket'}}, 'maths': {'q1': {'question': '5 + 7 = ?', 'options': ['10', '11', '12', '13'], 'answer': '12'}, 'q2': {'question': '12 - 8 = ?', 'options': ['1', '2', '3', '4'], 'answer': '4'}}}}