<a href="https://colab.research.google.com/github/RafsanJany-44/ARC/blob/master/Json.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_json("/content/ADANIENT-2000-01-01-2023-05-31.json")

In [16]:
df.head(10)

             status remarks                                               data
close       success          [6.59, 6.62, 6.59, 6.58, 6.53, 6.57, 6.41, 6.3...
high        success          [6.72, 6.8100000000000005, 6.87, 6.68, 6.75, 6...
low         success          [6.5, 6.57, 6.47, 6.5, 6.47, 6.5, 6.32, 6.22, ...
open        success          [6.63, 6.75, 6.75, 6.53, 6.5600000000000005, 6...
start_Time  success          [2003-09-05 00:00:00, 2003-09-08 00:00:00, 200...
volume      success          [43406.0, 37381.0, 41136.0, 36487.0, 38052.0, ...

In [12]:
len(df['data'][0])

4903

In [13]:
len(df['data'][1])

4903

In [11]:
for i in range(df.shape[0]):
  print(i)

0
1
2
3
4
5