<a href="https://colab.research.google.com/github/RafsanJany-44/practice_cell/blob/master/MEGA_Naive_Byaes_20f.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#NAIVE BAYES

In [42]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [43]:
# On importe les librairies
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB,MultinomialNB,CategoricalNB

In [44]:
# On importe le dataset
f="/content/drive/MyDrive/Thesis_Data/MEGA_20f.csv"
dataset = pd.read_csv(f)
dataset.head()

  Sleep_Stage  MedianF_Beta_F4  ...  MedianF_Theta_O2  Spectral Edge_Theta_O2
0           W         19.73073  ...           4.49561                10.73951
1           W         17.23317  ...           5.86927                11.23902
2           W         17.60780  ...           5.74439                11.11415
3           W         17.35805  ...           6.11902                10.98927
4           W         17.23317  ...           5.86927                10.98927

[5 rows x 21 columns]

In [45]:
# On sépare notre dataframe en deux les inputs et les targets ( survived )
X = dataset.drop('Sleep_Stage',axis='columns')
Y = dataset.Sleep_Stage

In [46]:
# Identifier les colonnes ou il manque des données
X.columns[X.isna().any()]

Index([], dtype='object')

In [47]:
X.describe()

       MedianF_Beta_F4  ...  Spectral Edge_Theta_O2
count    108451.000000  ...           108451.000000
mean         17.282671  ...               10.312034
std          14.226341  ...                6.770400
min           6.243900  ...                0.124880
25%          12.612680  ...                8.491710
50%          14.485850  ...                9.365850
75%          17.108290  ...               10.240000
max         127.875120  ...               63.937560

[8 rows x 20 columns]

In [48]:
X.fillna(X.mean(), inplace=True)
X.describe()

       MedianF_Beta_F4  ...  Spectral Edge_Theta_O2
count    108451.000000  ...           108451.000000
mean         17.282671  ...               10.312034
std          14.226341  ...                6.770400
min           6.243900  ...                0.124880
25%          12.612680  ...                8.491710
50%          14.485850  ...                9.365850
75%          17.108290  ...               10.240000
max         127.875120  ...               63.937560

[8 rows x 20 columns]

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)

In [50]:
model = CategoricalNB()

In [51]:
model.fit(X_train,y_train)

CategoricalNB()

In [52]:
print(f)
print(model.score(X_train,y_train))

/content/drive/MyDrive/Thesis_Data/MEGA_20f.csv
0.5647533425541724