<a href="https://colab.research.google.com/github/RafsanJany-44/ARC/blob/master/ML1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import numpy as np
import pandas as pd

In [26]:
df = pd.read_csv("https://raw.githubusercontent.com/RafsanJany-44/Machine-School/main/datasets/weather.csv")

In [27]:
target = "RainTomorrow"

In [28]:
df.head(5)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,NW,6.0,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,W,4.0,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,NNE,6.0,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,W,30.0,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,ESE,20.0,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No

In [29]:
df.shape

(366, 22)

In [30]:
list(df.columns)

['MinTemp',
 'MaxTemp',
 'Rainfall',
 'Evaporation',
 'Sunshine',
 'WindGustDir',
 'WindGustSpeed',
 'WindDir9am',
 'WindDir3pm',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Cloud9am',
 'Cloud3pm',
 'Temp9am',
 'Temp3pm',
 'RainToday',
 'RISK_MM',
 'RainTomorrow']

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MinTemp        366 non-null    float64
 1   MaxTemp        366 non-null    float64
 2   Rainfall       366 non-null    float64
 3   Evaporation    366 non-null    float64
 4   Sunshine       363 non-null    float64
 5   WindGustDir    363 non-null    object
 6   WindGustSpeed  364 non-null    float64
 7   WindDir9am     335 non-null    object
 8   WindDir3pm     365 non-null    object
 9   WindSpeed9am   359 non-null    float64
 10  WindSpeed3pm   366 non-null    int64
 11  Humidity9am    366 non-null    int64
 12  Humidity3pm    366 non-null    int64
 13  Pressure9am    366 non-null    float64
 14  Pressure3pm    366 non-null    float64
 15  Cloud9am       366 non-null    int64
 16  Cloud3pm       366 non-null    int64
 17  Temp9am        366 non-null    float64
 18  Temp3pm        366 non-null    float64
 19  RainToday      366 non-null    object
 20  RISK_MM        366 non-null    float64
 21  RainTomorrow   366 non-null    object
dtypes: float64(12), int64(5), object(5)
memory usage: 63.0+ KB

In [32]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,366.000000,366.000000,366.000000,366.000000,363.000000,364.000000,359.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000
mean,7.265574,20.550273,1.428415,4.521858,7.909366,39.840659,9.651811,17.986339,72.035519,44.519126,1019.709016,1016.810383,3.890710,4.024590,12.358470,19.230874,1.428415
std,6.025800,6.690516,4.225800,2.669383,3.481517,13.059807,7.951929,8.856997,13.137058,16.850947,6.686212,6.469422,2.956131,2.666268,5.630832,6.640346,4.225800
min,-5.300000,7.600000,0.000000,0.200000,0.000000,13.000000,0.000000,0.000000,36.000000,13.000000,996.500000,996.800000,0.000000,0.000000,0.100000,5.100000,0.000000
25%,2.300000,15.025000,0.000000,2.200000,5.950000,31.000000,6.000000,11.000000,64.000000,32.250000,1015.350000,1012.800000,1.000000,1.000000,7.625000,14.150000,0.000000
50%,7.450000,19.650000,0.000000,4.200000,8.600000,39.000000,7.000000,17.000000,72.000000,43.000000,1020.150000,1017.400000,3.500000,4.000000,12.550000,18.550000,0.000000
75%,12.500000,25.500000,0.200000,6.400000,10.500000,46.000000,13.000000,24.000000,81.000000,55.000000,1024.475000,1021.475000,7.000000,7.000000,17.000000,24.000000,0.200000
max,20.900000,35.800000,39.800000,13.800000,13.600000,98.000000,41.000000,52.000000,99.000000,96.000000,1035.700000,1033.200000,8.000000,8.000000,24.700000,34.500000,39.800000

In [33]:
df["WindGustDir"].value_counts()

NW     73
NNW    44
E      37
WNW    35
ENE    30
ESE    23
S      22
N      21
W      20
NE     16
SSE    12
SE     12
NNE     8
SSW     5
SW      3
WSW     2
Name: WindGustDir, dtype: int64

In [34]:
df[target].value_counts()

No     300
Yes     66
Name: RainTomorrow, dtype: int64

#Droping Null/nan Values

In [35]:
df.dropna(axis=0, how='any', inplace = True)
df = df.reset_index(drop=True)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328 entries, 0 to 327
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MinTemp        328 non-null    float64
 1   MaxTemp        328 non-null    float64
 2   Rainfall       328 non-null    float64
 3   Evaporation    328 non-null    float64
 4   Sunshine       328 non-null    float64
 5   WindGustDir    328 non-null    object
 6   WindGustSpeed  328 non-null    float64
 7   WindDir9am     328 non-null    object
 8   WindDir3pm     328 non-null    object
 9   WindSpeed9am   328 non-null    float64
 10  WindSpeed3pm   328 non-null    int64
 11  Humidity9am    328 non-null    int64
 12  Humidity3pm    328 non-null    int64
 13  Pressure9am    328 non-null    float64
 14  Pressure3pm    328 non-null    float64
 15  Cloud9am       328 non-null    int64
 16  Cloud3pm       328 non-null    int64
 17  Temp9am        328 non-null    float64
 18  Temp3pm        328 non-null    float64
 19  RainToday      328 non-null    object
 20  RISK_MM        328 non-null    float64
 21  RainTomorrow   328 non-null    object
dtypes: float64(12), int64(5), object(5)
memory usage: 56.5+ KB

#Label Encoding

In [37]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

In [38]:
df["WindGustDir"] = encoder.fit_transform(df["WindGustDir"])

In [39]:
df["WindGustDir"].value_counts()

7     64
6     35
0     34
14    32
1     29
2     23
8     21
3     21
4     15
13    15
10    12
9     11
5      7
11     4
12     3
15     2
Name: WindGustDir, dtype: int64

In [40]:
df["WindDir9am"] = encoder.fit_transform(df["WindDir9am"])
df["WindDir3pm"] = encoder.fit_transform(df["WindDir3pm"])
df["RainToday"] = encoder.fit_transform(df["RainToday"])

In [41]:
df[target].value_counts()

No     268
Yes     60
Name: RainTomorrow, dtype: int64

In [42]:
df[target] = encoder.fit_transform(df[target])

In [43]:
df[target].value_counts()

0    268
1     60
Name: RainTomorrow, dtype: int64

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328 entries, 0 to 327
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MinTemp        328 non-null    float64
 1   MaxTemp        328 non-null    float64
 2   Rainfall       328 non-null    float64
 3   Evaporation    328 non-null    float64
 4   Sunshine       328 non-null    float64
 5   WindGustDir    328 non-null    int64
 6   WindGustSpeed  328 non-null    float64
 7   WindDir9am     328 non-null    int64
 8   WindDir3pm     328 non-null    int64
 9   WindSpeed9am   328 non-null    float64
 10  WindSpeed3pm   328 non-null    int64
 11  Humidity9am    328 non-null    int64
 12  Humidity3pm    328 non-null    int64
 13  Pressure9am    328 non-null    float64
 14  Pressure3pm    328 non-null    float64
 15  Cloud9am       328 non-null    int64
 16  Cloud3pm       328 non-null    int64
 17  Temp9am        328 non-null    float64
 18  Temp3pm        328 non-null    float64
 19  RainToday      328 non-null    int64
 20  RISK_MM        328 non-null    float64
 21  RainTomorrow   328 non-null    int64
dtypes: float64(12), int64(10)
memory usage: 56.5 KB

#Dataset Slicing

loc -> location<br>

df.loc[starting_row : ending_row, [columns]]

<br>
iloc -> index location<br>
df.loc[starting_row : ending_row, starting_col: ending_col+1]

In [118]:
k = df.loc[5:12,["Rainfall","Evaporation","RISK_MM"]]

In [63]:
k.head(-1)

    Rainfall  Evaporation  RISK_MM
5        0.0          5.8      0.2
6        0.2          4.2      0.0
7        0.0          5.6      0.0
8        0.0          4.0     16.2
9       16.2          5.4      0.0
10       0.0          4.2      0.2
11       0.2          7.2      0.0

In [67]:
k = df.iloc[5:12,3:5]

In [68]:
k.head(-1)

    Evaporation  Sunshine
5           5.8       8.2
6           4.2       8.4
7           5.6       4.6
8           4.0       4.1
9           5.4       7.7
10          4.2      11.9

#Dataset SPliting

In [69]:
X = df.loc[:,df.columns != target]

In [70]:
X.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM
0,8.0,24.3,0.0,3.4,6.3,7,30.0,12,7,6.0,...,68,29,1019.7,1015.0,7,7,14.4,23.6,0,3.6
1,14.0,26.9,3.6,4.4,9.7,1,39.0,0,13,4.0,...,80,36,1012.4,1008.4,5,3,17.5,25.7,1,3.6
2,13.7,23.4,3.6,5.8,3.3,7,85.0,3,5,6.0,...,82,69,1009.5,1007.2,8,7,15.4,20.2,1,39.8
3,13.3,15.5,39.8,7.2,9.1,7,54.0,14,13,30.0,...,62,56,1005.5,1007.0,2,7,13.5,14.1,1,2.8
4,7.6,16.1,2.8,5.6,10.6,10,50.0,10,2,20.0,...,68,49,1018.3,1018.5,7,7,11.1,15.4,1,0.0

In [71]:
#Y = df.loc[:,[target]]
Y = df[target]

In [72]:
Y.head()

0    1
1    1
2    1
3    1
4    0
Name: RainTomorrow, dtype: int64

#Dataset spliting in testing and training

In [97]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2)



---

#Training Phase

##RandomForest

In [100]:
%%time
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier()

clf.fit(X_train, Y_train)



y_pred = clf.predict(X_test)

CPU times: user 195 ms, sys: 215 Âµs, total: 195 ms
Wall time: 198 ms

##Adaboost

##GradientBossting

##KNN

##Naive Byes

#Testing

In [101]:
from sklearn.metrics import accuracy_score

score = accuracy_score(Y_test, y_pred)

print(score)

1.0

In [116]:
X.loc[101:101,:]

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM
101,9.1,23.1,0.0,5.8,9.6,1,41.0,10,13,17.0,...,66,37,1013.6,1011.4,1,7,14.0,21.4,0,0.0

In [107]:
rain_tom = clf.predict(X.loc[101:101,:])
print(rain_tom)

[0]

In [108]:
Y[101]

0

#Model Save

In [109]:
import joblib

joblib.dump(clf,"randomfores_rain_tom")

['randomfores_rain_tom']